<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "learning_logs/base.html" %}
    {% block content %}

    <p>Tópico : {{topic}}</p>
    <p></p>Notas

    <p><a href="{% url 'new_entry' topic.id %}">Adicionar Nota</a></p>
    <ul>
        
        {% for entry in entries %}
            <li>
                {{entry.date_added | date:'M d, Y H:i'}}
                {{entry.text |linebreaks}}
                <p>
                    <a href="{% url 'edit_entry' entry.id %}">Editar Nota</a>
                </p>
            </li>

        {% empty %}
            <li>Não há notas adicionadas</li>
        {% endfor %}

    </ul>
    {% endblock content %} 
</body>
</html>